@charset "UTF-8";

@font-face {
  font-family: "Apple-Tea";
  src: url(../fonts/Apple-Tea/AppleTea-jELql.otf) format(opentype), url(../fonts/Apple-Tea/AppleTea-z8R1a.ttf) format(truetype);
}
@font-face {
  font-family: "Multicolore";
  src: url(../fonts/Multicolore/Multicolore.otf) format(opentype);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Fonts-GOOGLE */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

  /* Config geral */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.dark:root {
  --color5: #0F0705;
  --color6: #931215;
  --color7: #383838;
  --color8: #ffffff;
  --color9: #D9D9D9;
  --color10: #463E3C;
  --color11: #E58162;
  --color12: #C7C7C7;

  --font-titulo: "Apple-Tea";
  --font-text: "Multicolore";
}

.dark, .dark header {
  background-color: var(--color1);
  color: var(--color3);
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark .light {
  display: block;
}

.dark .logo {
  font-family: var(--font-titulo);
  margin-left: 9px;
  margin-top: 30px;
  display: flex;
}

.dark a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-family: var(--font-text);
}

.dark .block:hover {
  color: #0F0705;
  transition: 1s;
  background-color: rgba(48, 43, 39, 0.229);
  border-radius: 8px;
  padding: 8px;
}

.dark .logo {
  font-family: var(--font-titulo);
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.dark nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-text);
  background-color: #383838;
  height: 10vh;
}

.dark .mobile-menu {
  cursor: pointer;
  display: block;
  margin-right: -61px;
}

.dark .mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #931215;
  margin: 8px;
  transition: 0.3s;
}

.dark .mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.dark .mobile-menu.active .line2 {
  opacity: 0;
}

.dark .mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* menu-colado */
.dark #inicio{
  position: sticky;
  top: -1px;
}

/* SECTION */
/* section -Principal */
.dark .consertos {
  display:flex;
  width: 353px;
  height: 240px;
  margin-top: 29px;
  margin-left: 40px;
}

.dark #quadrado1 {
  display: flex;
  width: 276px;
  height: 254px;
  margin-top: 55px;
  background-color: hsl(12, 8%, 25%);
}

/* Texto serviços */
.dark .text1 {
  margin-top: 90px;
  font-family: var(--font-text);
  margin-left: 25px;
}

.dark .text2 {
  margin-top: 10px;
  font-family: var(--font-text);
  margin-left: 155px;
}

/* service */
.dark .service {
  margin-top: 50px;
  margin-left: 85px;
  width: 218px;
  height: 70px;
  font-weight: normal;
  font-size: 1.2em;
  font-family: var(--font-text);
  background-color: #383838;
  color: white;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s;
}

.dark .service:hover {
  background-color: white;
  color: black;
  transition: 0.8s;
}
.dark #content::after {
  content:'';
  margin-top: 225px;
  height: 4px;
  width: 100vw;
  display: block;
  background-image: linear-gradient(#a30d0d, #ffffff);
  border-radius: 2px;
}


/* Section 2 */
.dark #quadrado2 {
  display: flex;
  width: 284px;
  height: 281px;
  background-color: #463E3C;
  margin-top: 100px;
}

.dark .img2 img {
  display: flex;
  width: 100vw;
  margin-bottom: 50px;
}

.dark .job {
  width: 50px;
  height: 150px;
}

/* section3 */

.dark .Serviço h1 {
  font-family: var(--font-text);
  font-size: 2em;
  margin-left: 55px;
  margin-top: 750px;
}

.dark .Serviço span {
  color: #E58162;
  font-size: 18px;
  font-family: var(--font-text);
}

.dark .Serviço p {
  text-align: right;
  font-family: var(--font-text);
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 35px;
  font-size: 18px;
  text-align: justify;
  line-height: 28px;
}

/* lest serviços */

.dark .lest {
  position: absolute;
  padding: 10px;
  width: 352px;
  height: 352px;
  left: 18px;
  right: 18px;
  top: 2386px;
  background: #c7c7c7;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid #E58162;
}

.dark .lests {
  position: absolute;
  padding: 10px;
  width: 352px;
  height: 352px;
  left: 18px;
  right: 18px;
  top: 2780px;
  background: #c7c7c7;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid #E58162;
}

.dark .leste {
  position: absolute;
  padding: 10px;
  width: 352px;
  height: 352px;
  margin-left: 18px;
  margin-right: 18px;
  top: 3180px;
  background: #c7c7c7;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid #E58162;
}

/* Instalações Elétricas */
.dark .lest p {
  display: flex;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #767676;
  margin-top: 236px;
  margin-left: 28px;
  margin-right: 28px;
}

.dark .lest img {
  display: flex;
  position: absolute;
  width: 91px;
  height: 91px;
  margin-top: 55px;
  margin-left: 125px;
}

.dark .lest h1 {
  position: absolute;
  font-family:var(--font-text);
  font-weight: bolder;
  text-shadow: 0.2px 0.2px 0.8px #383838;
  color: #E58162;
  width: 100vw;
  font-size: 23px;
  margin-top: 175px;
  margin-left: 22.5px;
  margin-right: 22.5px;
}

/* Poste-Padrão */
.dark .lests p {
  display: flex;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #767676;;
  margin-top: 236px;
  margin-left: 28px;
  margin-right: 28px;
}

.dark .lests img {
  display: flex;
  position: absolute;
  width: 250px;
  height: 120px;
  margin-top: 25px;
  margin-left: 55px;
  margin-right: 55px;
}

.dark .lests h1 {
  position: absolute;
  font-family:var(--font-text);
  font-weight: bolder;
  text-shadow: 0.2px 0.2px 0.8px #383838;
  color: #E58162;
  width: 100vw;
  font-size: 23px;
  margin-top: 175px;
  margin-left: 85px;
  margin-right: 85px;
}

/* Eletrodoméstico */
.dark .leste p {
  display: flex;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #767676;;
  margin-top: 236px;
  margin-left: 28px;
  margin-right: 28px;
}

.dark .leste img {
  display: flex;
  position: absolute;
  width: 120px;
  height: 120px;
  margin-top: 25px;
  margin-left: 105px;
  margin-right: 105px;
}

.dark .leste h1 {
  position: absolute;
  font-family:var(--font-text);
  text-shadow: 0.2px 0.2px 0.8px #383838;
  color: #E58162;
  font-weight: bolder;
  width: 100vw;
  font-size: 23px;
  margin-top: 175px;
  margin-left: 55px;
  margin-right: 45px;
}

/* Depoimentos */
#content4 p {
  display: flex;
  position: absolute;
  margin-top: 1420px;
  font-size: 32px;
  font-family: 'Varela', sans-serif;
  margin-left: 8px;
  margin-right: 8px; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Depoimentos */
.dark #content4 p {
    display: flex;
    position: absolute;
    font-size: 32px;
    font-family: 'Varela', sans-serif;
    margin-top: 1420px;
    margin-left: 8px;
    margin-right: 8px; 
    color: #767676;
    text-shadow: 0.3px 0.3px 0.8px #fcf9f9;
}

.dark #content4 iframe {
  display: flex;
  position: absolute;
  margin-top: 1560px;
  margin-left: 0px;
  margin-right: 18px;
  width: 408px;
  height: 428px;
}

/* rodapé */

.dark #white {
  display: flex;
  position: absolute;
  margin-top: 2580px;
  width: 100vw;
  height: 146px;
  background-color: rgb(233, 233, 233);
}

.dark #rodapé #white h2 {
  color: black;
}
/* carrossel */
.dark #content6 {
  margin-left: 199px;
  display: flex;
  position: absolute;
  margin-top: 1700px;
  display: block;
} 

.dark .content9 {
  position: absolute;
  width: 335px;
  height:  210px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark .navigations {
  position: absolute;
  bottom: 2.5px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.dark .bars {
  width: 12px;
  height: 12px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.dark .bars:hover {
  background-color:  #E58162;
}

.dark .inputs {
  display: none;
}

.dark .slides2 {
  display: flex;
  width: 500%;
  height: 100%;
}

.dark .slidet {
  width: 20%;
  transition: .6s;
}

.dark .slidet .imgdark {
  width: 100%;
  height: 100%;
}

.dark #slide6:checked ~ .s1 {
      margin-left: 0;
}

.dark #slide7:checked ~ .s1 {
  margin-left: -20%;
}

.dark #slide8:checked ~ .s1 {
  margin-left: -40%;
}

.dark #slide9:checked ~ .s1 {
  margin-left: -60%;
}

.dark #slide10:checked ~ .s1 {
  margin-left: -80%;
}