@charset "UTF-*";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.galery {
  margin-top: 115px;
  width: 640px;
  height:  360px;
  overflow: hidden;
}

.galery .fotos{
  width: 500%;
  animation-name: animação;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .fotos img {
  width: 19.9%;
}